<% if flash.has_key?(:notice) && !flash[:notice].empty? %>
  <div class="notification"><%= raw(flash[:notice]) %></div>
  <br/>
<% end %>  

<div class="form">
<%= form_for(:user, :as => :user, :url => session_path(:user)) do |f| %>
<% if flash.has_key?(:alert) && !flash[:alert].empty? %>
  <div class="error" id="errorExplanation"><%= raw(flash[:alert]) %></div>
<% end %>  
  <p><%= f.label :email %>
  <%= f.text_field :email, :style =>"width: 190px" %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, :style=>"width: 190px" %></p>

    <p><%= f.check_box :remember_me, {:checked => true, :class=>'checkbox'} %> <%= f.label :remember_me, "remember me", {:class => 'remember_label'} %></p>

  <p><%= f.submit "Sign in" %> or by <img src="/images/openid_icon.png" width="20" height="20"/><%= link_to "Google Id", openid_url%></p>
<% end %>

<br/>

  <%= link_to "Forgot your password?", new_password_path(:user) %><br />

</div>

<div class="form">
  <center> <span class="h3"><%= link_to "Create new account",new_user_registration_url %></span></center>
</div>
