<% menu('home') %>
<div style="margin-left:auto; margin-right:auto; width: 1000px; border: 0px solid lime;">
<!-- left column -->
<div style="float: right; width: auto; display: table-cell;padding-left: 30px;">
  <div style="width:300px; font-size: 16px; padding-bottom:30px;">
    Simple, straight and lean scrum board service
  <div style="text-align:right;font-size:40px; font-family:Tahoma;padding-right:100px;font-weight: bolder;"><%= Project.count %></div>
  <div style="font-size: 12px; color:silver;"><center>already running projects</center></div>
<br/>
<% if current_user.nil? %>
  <div class="form" style="margin-left:auto; margin-right:auto;">
    <center> <span class="h3"><%= link_to "Create new account", new_user_registration_url %></span><br/></center>  </div>
<% else %>
<div class="form" style="width: 220px;text-align: center;font-size: 20px;">
<span class="plus">+</span> <%= link_to 'Start New Project', new_project_path %>
</div>
<% end %>
  </div>  
<div class="h3">Follow us on </div>
<a href="http://blog.samecup.com"><img src="/images/blogicon.png" border=0 alt="SameCup blog"></a>
<a href="http://twitter.com/samecup"><img src="/images/twittericon.png" border=0 alt="Twitter of SameCup"></a>
<br/><br/>
<div class="h3">Last news </div>
<% cache 'rss-news', :expire => 60.minutes do %>
  <% feed = WelcomeController.rssfeed %>
  <% unless feed.nil? %>
      <% feed.items[0..5].each do |entry|  %>
       <div class="newsitem"><%= link_to h(entry.title), entry.link %><br/>
          <span><%= truncate(entry.description.gsub(/<\/?[^>]*>/, ""), :length => 100) %></span>
         </div>
      <% end %>
  <% end %>
<% end %>
</div>

<!-- right column -->
<div style="float:right; display: table-cell; ">
  <div style="width: 650px;">
    
<div class="h2">SameCup is</div>
<br/>
<span style="font-size: 14px;line-height: 19px;">
<b>scrum board</b> full of <b>stickers</b>, <b>sprints</b> and other <b>agile oriented</b> functionality. This product was created by people who <b>love scrum</b> and decided to make unique management tool that will help to build right development process.<br/>
<br/>
Here is small screencast how SameCup works 
<div style="margin-left: auto; margin-right: auto; width: 640px; height: 385px; border: 10px solid silver; text-align:center;">
  <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/wpzUKW48M1U?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/wpzUKW48M1U?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>
<br/>

</span>
<br clear=both/>
</div>


</div>