<% title( "#{@project.name} dashboard") %>
<% menu('project') %>
<center><h1 style="display:inline;"><%= @sprint.name %></h1>
  <div style="display:inline;margin-left:3px;">
    <a href="#" onclick="$('#backlog').toggle();return false;">Backlog</a>
    <a href="#" onclick="$('#sprint_goal').toggle();return false;">Goal</a></div>
  <div id="sprint_goal" class="form" style="width: 400px;display:none;text-align:left;">
    <center><%= @sprint.start_at.strftime("%d/%m/%Y")%> -> <%= @sprint.end_at.strftime("%d/%m/%Y")%></center><br/>
  <%= raw @sprint.description.gsub(/\r/, '<br/>') unless @sprint.description.blank?%><br/><center><a href="#" onclick="$('#sprint_goal').hide();return false;">Hide</a></center></div>
  </center>
<p class="notice"><%= notice %></p>
<div id="project<%= @project.id %>">
<%= render :partial => "/projects/dashboard", :locals => {:project => @project}%>
</div>
<div id="user_story_dialog" style="display:none;">
</div>
<script>
window.userStoryDlg = $('#user_story_dialog').dialog({ width: 400, height: 400, 
    closeOnEscape:true, draggable:false, modal: true, resizable: true, zIndex: 9999999999, 
   autoOpen:false});
</script>
<script>
function refreshDashboard()
{
  showLoading();
   $.ajax({
          url: '<%= refresh_project_path(@project, :sprint_id => @sprint.id) -%>',
          type: 'GET',
          success: function(data) {
            hideLoading();
            $('#project<%=@project.id %>').html(data);
           }
    });
}

$('#feedback_button').hide();
</script>
